body {
    margin: 0;
    background: black;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: rgb(217, 211, 211);
}

header {
    background: rgb(152, 7, 82);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
   font-size: 30px;
}

.middle {
    display: flex;
    gap: 15px;  
    align-items: stretch;
}

aside {
    background: rgb(43,82,166);
    color: white;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;

    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

    .articles {
       
        background: rgb(110, 177, 110);
        padding: 15px;
        border-radius: 10px;
        color: white;
        
        flex: 3;
        
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .article {
        background: rgb(216, 43, 72);
        text-align: center;
        font-size: 25px;
        padding: 25px;
        border-radius: 10px;
        color: white
    }
    

   footer {
    background: rgb(202, 90, 10);
    font-size: 30px; 
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

    @media (max-width: 767px) {
    
        .middle {
        flex-direction: column;
    }

    aside,
.articles {
    width: 100%;
}

    aside {
        min-height: 120px;
    }
}